body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #183446;
    height: 100vh;
    width: 100vw;
}

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

#gameCanvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}